<ion-header>
</ion-header>

<ion-content>

  <img src="../../assets/logo/Pink and Purple Events & party Entertainment Logo.png" alt="">

  <form (ngSubmit)="login()" class="form-login">
    <ion-item class="input-item">
      <ion-label position="floating">Username</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item class="input-item">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>

    <br>

    <ion-button expand="full" type="submit" class="login-button" color="#6920B0">Login</ion-button>
  </form>

</ion-content>
